body {
    background-color: rgba(0, 0, 0, 0.852);
    color: rgb(47, 208, 11);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

.header__link {
    color: rgb(233, 170, 87);
}