<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3eea134bf1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="seriesStyles.css">
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <title>series</title>
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="header__item_0 btn">
            <input id="reset" type="button" value="Сброс" />
        </div>
        <div class="header__item_1 item">
            <h1>Серии</h1>
        </div>
        <div class="btn header__item_2 item">
            <form action="../menu/menuView.html">
                <button>Меню</button>
        </div>
    </div>
    <!-- body -->
    <div class="body">
        <div class="minmax">
            <!-- выбор минимума - максимума -->
            <div class="body__item_3 item">
                <h1>Min/Max:</h1>
            </div>
            <div class="body__item_4 item">
                <p><select id="minmax" size="1">
                        <option value="1-50">1-50</option>
                        <option value="1-100">1-100</option>
                        <option value="5-200">5-200</option>
                        <option value="5-300">5-300</option>
                        <option value="25-500">25-500</option>
                        <option value="100-5000">100-5000</option>
                    </select></p>
            </div>
        </div>
        <div class="series">
            <!-- выбор серии -->
            <div class="body__item_5 item">
                <h1>Серия:</h1>
            </div>
            <div class="body__item_6 item">
                <p><select id="series" size="1">
                        <option value="tier">Tier</option>
                        <option value="orphelins">Orphelins</option>
                        <option value="voisins">Voisins de zero</option>
                        <option value="spiel">0-Spiel</option>
                    </select></p>
            </div>
        </div>
        <div class="bet">
            <!-- ставка -->
            <div class="body__item_7 item">
                <h1>Ставка:</h1>
            </div>
            <div class="body__item_8 item">
                <p>
                    <label>
                        <input class="input" type="number" min="0" minlength="2" maxlength="10" size="10" id="bet">
                    </label>
                </p>
            </div>
        </div>
        <div class="calc">
            <!-- кнопка Рассчитать -->
            <div class="body__item_9 item">
                <input class="btn" id="calculate" type="button" value="Рассчитать" />
            </div>
        </div>
        <!-- инфо -->
        <div class="body__item_10 item" id="info_2"></div>
    </div>

    <script src="../../models/seriesModel.js" type="module"></script>
</body>

</html>