body {
    background-color: rgba(0, 0, 0, 0.852);
    color: rgb(0, 255, 179);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.btn {
    display: flex;
    /* justify-content: end; */
}

/* .item {
    border: 2px solid white;
} */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* кнопка Сброс */
.header__item_0 {
    display: flex;
    justify-content: center;
}

/* заголовок Комплит */
.header__item_1 {
    display: flex;
    justify-content: center;
}

/* кнопка Меню */
.header__item_2 {
    display: flex;
    justify-content: center;
}

.minmax {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 162px 5px 174px;
}

/* выбор мин-макс заголовок */
.header__item_3 {
    display: flex;
    justify-content: center;
}

/* выбор мин-макс select */
.header__item_4 {
    display: flex;
    justify-content: center;
    width: 50%;
}

.number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 224px 5px 198px;
}

/* выбор номера заголовок */
.header__item_5 {
    display: flex;
    justify-content: center;
}

/* выбор номера select */
.header__item_6 {
    display: flex;
    justify-content: center;
}

.bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 19px 5px 186px;
}

/* ставка заголовок */
.header__item_7 {
    display: flex;
    justify-content: center;
}

/* ставка input */
.header__item_8 {
    display: flex;
    justify-content: center;
}

.input {
    width: 40%;
}

.nominal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 208px 5px 174px;
}

/* выбор номинала заголовок */
.header__item_9 {
    display: flex;
    justify-content: center;
}

/* выбор номинала select */
.header__item_10 {
    display: flex;
    justify-content: center;
}

/* кнопка Рассчитать */
.header__item_11 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* вывод информации пользователю */
.header__item_12 {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
    margin-top: 20px;
    padding-right: 80px;
}