body {
    background-color: rgba(0, 0, 0, 0.852);
    color: rgb(0, 255, 179);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header__link {
    display: block;
    color: rgb(233, 170, 87);
    text-decoration: none;
}

.header__link:hover {
    color: #250202;
}

.header__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header__item {
    display: flex;
    justify-content: center;
    width: 180px;
    height: 30px;
    background-color: rgb(8, 52, 52);
    border: 1px solid gold;
    align-items: center;
}

.header__item:hover {
    display: block;
    background: linear-gradient(to top, #cabe1c, #a2ac10);
    box-shadow: 0 0 2px 1px #E2E2E2;
    color: #250202;
    cursor: pointer;
    text-align: center;
}

a {
    display: block;
}

.btn {
    display: none;
}

/* модальное окно тест */
.modal {
    border: 0;
    border-radius: 4px;
    text-align: center;
    color: #0d0d0d;
    background-color: #a1aea1;
    display: block;
    transform: scale(.2);
    opacity: 0;
    transition: all 0.2s linear;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.modal[open] {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.modal::backdrop {
    background-color: #252525;
    opacity: 0.8;
}

.modal_inner {
    padding: 1em 2em;
}