body {
    background-color: rgba(7, 88, 24);
    color: rgb(0, 255, 179);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bold;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex_header {
    display: flex;
    width: 100%;
    /* height: 100%; */
    justify-content: flex-start;
    align-items: center;
    /* position: fixed; */
    /* top: 0; */
}

.btn {
    margin-bottom: 25px;
}

h1 {
    display: block;
    background-color: rgb(64, 66, 192);
    margin: 0px 15px 0px 15px;
}

/* обёртка трека */
.wrapper {
    display: block;
    width: 119px;
    height: 550px;
    margin: 25px 25px 25px 55px;
}

.track {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color: rgba(7, 88, 24);
    border: 2px white solid;
}

.circle_2 {
    position: absolute;
    width: 93px;
    height: 93px;
    border-radius: 50%;
    background-color: rgba(7, 88, 24);
    border: 2px white solid;
}

.tr {
    margin: 442px 0px 0px 11px;
}

.spl {
    margin: 11px 0px 0px 11px;
}

.circle_3 {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(7, 88, 24);
    border: 2px white solid;
}

.tier_small {
    margin: 466px 0px 0px 35px;
}

.spiel_small_1 {
    margin: 83px 0px 0px 35px;
}

.spiel_small_2 {
    margin: 36px 0px 0px 35px;
}

.series-tier {
    position: absolute;
    width: 45px;
    height: 108px;
    background-color: rgba(7, 88, 24);
    margin: 385px 0px 0px 37px;
}

.series-orphelins {
    position: absolute;
    width: 45px;
    height: 131px;
    background-color: rgba(7, 88, 24);
    margin: 251px 0px 0px 37px;
}

.series-voisins {
    position: absolute;
    width: 45px;
    height: 116px;
    background-color: rgba(7, 88, 24);
    margin: 132px 0px 0px 37px;
}

.series-spiel {
    position: absolute;
    width: 45px;
    height: 53px;
    background-color: rgba(7, 88, 24);
    margin: 60px 0px 0px 37px;
}

.transparent {
    background-color: transparent;
}

.transparent:hover {
    background-color: rgb(242, 247, 96);
    opacity: 50%;
}

.line {
    display: block;
    width: 2px;
    height: 117px;
    background-color: white;
    position: absolute;
}

.line_1 {
    rotate: 30deg;
}

.line_2 {
    rotate: 90deg;
}

.line_3 {
    rotate: 330deg;
}

.line_4 {
    rotate: 45deg;
}

.line_5 {
    rotate: 90deg;
}

.line_6 {
    rotate: 135deg;
}

.line_7 {
    rotate: 180deg;
}

/* 2 перемычки */
.line_8 {
    height: 118px;
    rotate: 90deg;
    margin-left: 59px;
    margin-top: 190px;
}

.line_9 {
    height: 118px;
    rotate: 90deg;
    margin-left: 59px;
    margin-top: 324px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.align {
    display: flex;
    flex-direction: column;
    width: 22px;
    height: 25px;
    justify-content: center;
    align-items: center;
}

.align-orphelins {
    display: flex;
    width: 25px;
    height: 42px;
    justify-content: center;
    align-items: center;
}

.text {
    transform: rotate(270deg);
    background-color: transparent;
    font-size: 1.2em;
    font-family: Roboto, monospace;
}

.cube {
    display: block;
    width: 22px;
    height: 25px;
    background-color: rgba(7, 88, 24);
    border: 1px solid rgb(255, 255, 255);
}

.rectangle {
    display: block;
    width: 22px;
    height: 43px;
    background-color: rgba(7, 88, 24);
    border: 1px solid rgb(255, 255, 255);
}

.red_num {
    color: red;
}

.black_num {
    color: rgb(255, 227, 12);
}

.green_num {
    color: rgb(38, 249, 10);
}

.double_blocks_5-35 {
    position: absolute;
    width: 11px;
    height: 429px;
    background-color: rgba(7, 88, 24);
    margin: 61px 0px 0px 0px;
    border: 1px solid rgb(255, 255, 255);
    border-right: none;
}

.double_blocks_11-27 {
    position: absolute;
    width: 11px;
    height: 105px;
    background-color: rgba(7, 88, 24);
    margin: 384px 0px 0px 106px;
    border: 1px solid rgb(255, 255, 255);
    /* border-left: none; */
}

.double_blocks_6-17 {
    position: absolute;
    width: 11px;
    height: 131px;
    background-color: rgba(7, 88, 24);
    margin: 250px 0px 0px 106px;
    border: 1px solid rgb(255, 255, 255);
    /* border-left: none; */
}

.double_blocks_25-32 {
    position: absolute;
    width: 11px;
    height: 187px;
    background-color: rgba(7, 88, 24);
    margin: 61px 0px 0px 106px;
    border: 1px solid rgb(255, 255, 255);
    /* border-left: none; */
}

.double-cube {
    display: block;
    width: 10px;
    height: 25px;
    border: 1px solid rgb(255, 255, 255);
    /* border-left: none; */
}

.double-rectangle {
    display: block;
    width: 10px;
    height: 43px;
    border: 1px solid rgb(255, 255, 255);
}

.numbers_5-35 {
    width: 23px;
    height: 430px;
    border: 1px white solid;
    position: absolute;
    margin: 60px 0px 0px 12px;
}

.numbers_11-27 {
    width: 24px;
    height: 106px;
    border: 1px white solid;
    position: absolute;
    margin: 384px 0px 0px 82px;
}

.numbers_6-17 {
    width: 24px;
    height: 132px;
    border: 1px white solid;
    position: absolute;
    margin: 250px 0px 0px 82px;
}

.numbers_25-32 {
    width: 24px;
    height: 187px;
    border: 1px white solid;
    position: absolute;
    margin: 60px 0px 0px 82px;
}

.border-left-off {
    border-bottom: 0px;
}

.bet {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.bet:hover {
    border: 1px solid rgb(231, 22, 11);
    background-color: rgb(242, 247, 96);
    opacity: 75%;
}

/* класс для JS addEventListener */
.pos,
.pos-tier,
.pos-orphelins,
.pos-voisins,
.pos-spiel {
    font-size: 0;
    /* display: block; */
    /* display: none; */
}

.num26,
.num10,
.num8,
.num3,
.num23,
.num30,
.num0,
.num_d_26,
.num_d_10,
.num_d_8,
.num_d_3,
.num_d_23,
.num_d_30,
.num_d_0 {
    position: absolute;
}

/* крайние номера */
.num26 {
    margin: 12px 0px 0px 49px;
}

.num10 {
    margin: 493px 0px 0px 17px;
}

.num8 {
    margin: 511px 0px 0px 62px;
}

.num3 {
    margin: 29px 0px 0px 19px;
}

.num23 {
    margin: 511px 0px 0px 37px;
}

.num30 {
    margin: 492px 0px 0px 81px;
}

.num0 {
    margin: 30px 0px 0px 79px;
}

/* дублирующие крайние номера */
.num_d_26 {
    margin: -6px 0px 0px 55px;
}

.num_d_10 {
    margin: 500px 0px 0px 6px;
}

.num_d_8 {
    margin: 527px 0px 0px 74px;
}

.num_d_3 {
    margin: 20px 0px 0px 9px;
}

.num_d_23 {
    margin: 527px 0px 0px 33px;
}

.num_d_30 {
    margin: 501px 0px 0px 102px;
}

.num_d_0 {
    margin: 20px 0px 0px 100px;
}

/* кликабельные позиции на треке */
.neighbor_0 {
    margin: 30px 0px 0px 77px;
}

.neighbor_1 {
    margin: 356px 0px 0px 11px;
}

.neighbor_2 {
    margin: 195px 0px 0px 81px;
}

.neighbor_3 {
    margin: 29px 0px 0px 17px;
}

.neighbor_4 {
    margin: 141px 0px 0px 81px;
}

.neighbor_5 {
    margin: 464px 0px 0px 11px;
}

.neighbor_6 {
    margin: 347px 0px 0px 82px;
}

.neighbor_7 {
    margin: 142px 0px 0px 11px;
}

.neighbor_8 {
    margin: 510px 0px 0px 59px;
}

.neighbor_9 {
    margin: 249px 0px 0px 11px;
}

.neighbor_10 {
    margin: 492px 0px 0px 14px;
}

.neighbor_11 {
    margin: 465px 0px 0px 82px;
}

.neighbor_12 {
    margin: 87px 0px 0px 11px;
}

.neighbor_13 {
    margin: 411px 0px 0px 82px;
}

.neighbor_14 {
    margin: 302px 0px 0px 11px;
}

.neighbor_15 {
    margin: 87px 0px 0px 81px;
}

.neighbor_16 {
    margin: 410px 0px 0px 11px;
}

.neighbor_17 {
    margin: 259px 0px 0px 82px;
}

.neighbor_18 {
    margin: 195px 0px 0px 11px;
}

.neighbor_19 {
    margin: 114px 0px 0px 81px;
}

.neighbor_20 {
    margin: 329px 0px 0px 11px;
}

.neighbor_21 {
    margin: 168px 0px 0px 81px;
}

.neighbor_22 {
    margin: 223px 0px 0px 11px;
}

.neighbor_23 {
    margin: 510px 0px 0px 34px;
}

.neighbor_24 {
    margin: 437px 0px 0px 11px;
}

.neighbor_25 {
    margin: 222px 0px 0px 82px;
}

.neighbor_26 {
    margin: 11px 0px 0px 46px;
}

.neighbor_27 {
    margin: 385px 0px 0px 82px;
}

.neighbor_28 {
    margin: 115px 0px 0px 11px;
}

.neighbor_29 {
    margin: 169px 0px 0px 11px;
}

.neighbor_30 {
    margin: 491px 0px 0px 78px;
}

.neighbor_31 {
    margin: 275px 0px 0px 11px;
}

.neighbor_32 {
    margin: 61px 0px 0px 81px;
}

.neighbor_33 {
    margin: 383px 0px 0px 11px;
}

.neighbor_34 {
    margin: 303px 0px 0px 82px;
}

.neighbor_35 {
    margin: 61px 0px 0px 11px;
}

.neighbor_36 {
    margin: 438px 0px 0px 82px;
}

.d-t {
    font-size: 0.5rem;
    margin-right: 12px;
}

.pos-tier {
    margin: 432px 0px 0px 46px;
}

.pos-orphelins {
    margin: 302px 0px 0px 46px;
}

.pos-voisins {
    margin: 176px 0px 0px 46px;
}

.pos-spiel {
    margin: 69px 0px 0px 46px;
}

.series-text {
    position: absolute;
    rotate: 270deg;
    white-space: nowrap;
    color: rgb(255, 227, 12);
    font-size: 0.9rem;
    font-family: fangsong;
}

.tier-t {
    margin: 55px 0px 0px -14px;
}

.orphelins-t {
    margin: 57px 0px 0px -20px;
}

.voisins-t {
    margin: 52px 0px 0px -19px;
}

.spiel-t {
    margin: 17px 0px 0px -4px;
}

/* class test не нужен */
.test_1 {
    margin: 25px 0px 0px 0px;
}

.test_2 {
    margin: 0px 0px 0px 30px;
}

/* модальное окно CSS */
.openBtn {
    display: block;
    /* position: absolute; */
    font-size: 0.7rem;
    transform: rotate(270deg);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgb(231, 22, 11);
    background-color: rgb(242, 247, 96);
    opacity: 0%;
    padding: 0px;
    white-space: pre;
    /* margin: 300px 0px 0px 200px; */
}

h3,
b {
    font-size: 1rem;
    text-align: center;
    color: #fbde07;
}

.modal {
    width: 220px;
    height: 150px;
    border: 0;
    border-radius: 4px;
    text-align: center;
    color: #0d0d0d;
    background-color: #297529;
    display: block;
    transform: scale(.2);
    opacity: 0;
    transition: all 0.2s linear;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    white-space: pre;
}

.modal[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.modal::backdrop {
    background-color: #252525;
    opacity: 0.8;
}

.modal_inner {
    width: 150px;
    height: 100px;
    color: #fbde07;
    padding: 1em 2em;
}

.input {
    width: 125px;
    height: 25px;
    font-size: 1rem;
}

.closeBtn {
    width: 45px;
    height: 45px;
    border-radius: 15%;
    background-color: #3c0d0d;
}


@media (pointer: fine) {

    /* desktop */
    body {
        transform: rotate(90deg);
    }
}