body {
    background-color: rgba(0, 0, 0, 0.852);
    color: rgb(0, 255, 179);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.btn {
    display: flex;
    justify-content: flex-end;
}

.grid {
    display: grid;
    background-color: rgb(7, 88, 24);
    grid-template-columns: repeat(5, 85px);
    grid-template-rows: repeat(14, 70px);
    grid-gap: 5px;
    justify-content: center;
    align-content: center;
}

.item {
    padding: 10px;
    text-align: center;
    border: 1px solid white;
}

.item_zero {
    background-color: blue;
    grid-column: 3/6;
}

.item_1 {
    background-color: rgb(255, 0, 0);
    /* border-radius: 50%; */
}

.item_small {
    background-color: brown;
    grid-row: 2/4;
}

.item_1st12 {
    background-color: rgb(228, 152, 52);
    grid-row: 2/6;
}

.item_even {
    background-color: rgb(210, 30, 90);
    grid-row: 4/6;
}

.item_red {
    background-color: rgb(10, 77, 55);
    grid-row: 6/8;
}

.item_2nd12 {
    background-color: rgb(110, 122, 16);
    grid-row: 6/10;
}

.item_black {
    background-color: rgb(4, 97, 7);
    grid-row: 8/10;
}

.item_odd {
    background-color: rgb(97, 4, 91);
    grid-row: 10/12
}

.item_3rd12 {
    background-color: rgb(33, 4, 97);
    grid-row: 10/14;
}

.item_big {
    background-color: rgb(97, 41, 4);
    grid-row: 12/14;
}

.item_1st-collumn {
    background-color: rgb(53, 70, 16);
    grid-column: 3/3;
}

.item_2nd-collumn {
    background-color: rgb(24, 4, 97);
    grid-column: 4/4;
}

.item_3rd-collumn {
    background-color: rgb(97, 7, 4);
    grid-column: 5/5;
}