<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3eea134bf1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="multiCompleteStyles.css">
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <title>multi-complete</title>
</head>

<body>

    <div class="flex_header">
        <div>
            <!-- кнопка "Сброс" -->
            <div class="btn">
                <input id="reset" type="button" value="Сброс" />
            </div>
            <div class="minmax">
                <!-- выбор минимума - максимума -->
                <div class="body__item_3 item">
                    <h2>Min/Max:</h2>
                </div>
                <div class="body__item_4 item">
                    <p><select id="minmax" size="1">
                            <option value="1-50">1-50</option>
                            <option value="1-100">1-100</option>
                            <option value="5-200">5-200</option>
                            <option value="5-300">5-300</option>
                            <option value="25-500">25-500</option>
                            <option value="100-5000">100-5000</option>
                        </select></p>
                </div>
            </div>
            <!-- кнопка "Рассчитать" -->
            <div class="btn">
                <input id="calculate" type="button" value="Рассчитать" />
            </div>
        </div>
        <div>
            <h1>Поле комплитов</h1>
        </div>
        <div class="btn">
            <form action="../menu/menuView.html">
                <button>Меню</button>
        </div>
    </div>
    <!-- поле рулетки с галочками -->
    <div class="grid">
        <div class="item item_zero">
            <div class="zero">0
                <div>
                    <input class="radioBtn" type="checkbox" id="num_0">
                </div>
            </div>
        </div>
        <div class="item item_small">
            <span class="vertical-text">1-18</span>
            <div>
                <input class="radioBtn" type="checkbox" id="small">
            </div>
        </div>
        <div class="item item_1st12">
            <span class="vertical-text">1st12</span>
            <div>
                <input class="radioBtn" type="checkbox" id="1st12">
            </div>
        </div>
        <div class="item item_1">
            <div class="red_num">1
                <div>
                    <input class="radioBtn" type="checkbox" id="num_1">
                </div>
            </div>
        </div>
        <div class="item item_2">
            <div class="black_num">2
                <div>
                    <input class="radioBtn" type="checkbox" id="num_2">
                </div>
            </div>
        </div>
        <div class="item item_3">
            <div class="red_num">3
                <div>
                    <input class="radioBtn" type="checkbox" id="num_3">
                </div>
            </div>
        </div>
        <div class="item item_4">
            <div class="black_num">4
                <div>
                    <input class="radioBtn" type="checkbox" id="num_4">
                </div>
            </div>
        </div>
        <div class="item item_5">
            <div class="red_num">5
                <div>
                    <input class="radioBtn" type="checkbox" id="num_5">
                </div>
            </div>
        </div>
        <div class="item item_6">
            <div class="black_num">6
                <div>
                    <input class="radioBtn" type="checkbox" id="num_6">
                </div>
            </div>
        </div>
        <div class="item item_even">
            <span class="vertical-text">even</span>
            <div>
                <input class="radioBtn" type="checkbox" id="even">
            </div>
        </div>
        <div class="item item_7">
            <div class="red_num">7
                <div>
                    <input class="radioBtn" type="checkbox" id="num_7">
                </div>
            </div>
        </div>
        <div class="item item_8">
            <div class="black_num">8
                <div>
                    <input class="radioBtn" type="checkbox" id="num_8">
                </div>
            </div>
        </div>
        <div class="item item_9">
            <div class="red_num">9
                <div>
                    <input class="radioBtn" type="checkbox" id="num_9">
                </div>
            </div>
        </div>
        <div class="item item_10">
            <div class="black_num">10
                <div>
                    <input class="radioBtn" type="checkbox" id="num_10">
                </div>
            </div>
        </div>
        <div class="item item_11">
            <div class="black_num">11
                <div>
                    <input class="radioBtn" type="checkbox" id="num_11">
                </div>
            </div>
        </div>
        <div class="item item_12">
            <div class="red_num">12
                <div>
                    <input class="radioBtn" type="checkbox" id="num_12">
                </div>
            </div>
        </div>
        <div class="item item_red">
            <span class="vertical-text">red</span>
            <div>
                <input class="radioBtn" type="checkbox" id="red">
            </div>
        </div>
        <div class="item item_2nd12">
            <span class="vertical-text">2nd12</span>
            <div>
                <input class="radioBtn" type="checkbox" id="2nd12">
            </div>
        </div>
        <div class="item item_13">
            <div class="black_num">13
                <div>
                    <input class="radioBtn" type="checkbox" id="num_13">
                </div>
            </div>
        </div>
        <div class="item item_14">
            <div class="red_num">14
                <div>
                    <input class="radioBtn" type="checkbox" id="num_14">
                </div>
            </div>
        </div>
        <div class="item item_15">
            <div class="black_num">15
                <div>
                    <input class="radioBtn" type="checkbox" id="num_15">
                </div>
            </div>
        </div>
        <div class="item item_16">
            <div class="red_num">16
                <div>
                    <input class="radioBtn" type="checkbox" id="num_16">
                </div>
            </div>
        </div>
        <div class="item item_17">
            <div class="black_num">17
                <div>
                    <input class="radioBtn" type="checkbox" id="num_17">
                </div>
            </div>
        </div>
        <div class="item item_18">
            <div class="red_num">18
                <div>
                    <input class="radioBtn" type="checkbox" id="num_18">
                </div>
            </div>
        </div>
        <div class="item item_black">
            <span class="vertical-text">black</span>
            <div>
                <input class="radioBtn" type="checkbox" id="black">
            </div>
        </div>
        <div class="item item_19">
            <div class="red_num">19
                <div>
                    <input class="radioBtn" type="checkbox" id="num_19">
                </div>
            </div>
        </div>
        <div class="item item_20">
            <div class="black_num">20
                <div>
                    <input class="radioBtn" type="checkbox" id="num_20">
                </div>
            </div>
        </div>
        <div class="item item_21">
            <div class="red_num">21
                <div>
                    <input class="radioBtn" type="checkbox" id="num_21">
                </div>
            </div>
        </div>
        <div class="item item_22">
            <div class="black_num">22
                <div>
                    <input class="radioBtn" type="checkbox" id="num_22">
                </div>
            </div>
        </div>
        <div class="item item_23">
            <div class="red_num">23
                <div>
                    <input class="radioBtn" type="checkbox" id="num_23">
                </div>
            </div>
        </div>
        <div class="item item_24">
            <div class="black_num">24
                <div>
                    <input class="radioBtn" type="checkbox" id="num_24">
                </div>
            </div>
        </div>
        <div class="item item_odd">
            <span class="vertical-text">odd</span>
            <div>
                <input class="radioBtn" type="checkbox" id="odd">
            </div>
        </div>
        <div class="item item_3rd12">
            <span class="vertical-text">3rd12</span>
            <div>
                <input class="radioBtn" type="checkbox" id="3rd12">
            </div>
        </div>
        <div class="item item_25">
            <div class="red_num">25
                <div>
                    <input class="radioBtn" type="checkbox" id="num_25">
                </div>
            </div>
        </div>
        <div class="item item_26">
            <div class="black_num">26
                <div>
                    <input class="radioBtn" type="checkbox" id="num_26">
                </div>
            </div>
        </div>
        <div class="item item_27">
            <div class="red_num">27
                <div>
                    <input class="radioBtn" type="checkbox" id="num_27">
                </div>
            </div>
        </div>
        <div class="item item_28">
            <div class="black_num">28
                <div>
                    <input class="radioBtn" type="checkbox" id="num_28">
                </div>
            </div>
        </div>
        <div class="item item_29">
            <div class="black_num">29
                <div>
                    <input class="radioBtn" type="checkbox" id="num_29">
                </div>
            </div>
        </div>
        <div class="item item_30">
            <div class="red_num">30
                <div>
                    <input class="radioBtn" type="checkbox" id="num_30">
                </div>
            </div>
        </div>
        <div class="item item_big">
            <span class="vertical-text">19-36</span>
            <div>
                <input class="radioBtn" type="checkbox" id="big">
            </div>
        </div>
        <div class="item item_31">
            <div class="black_num">31
                <div>
                    <input class="radioBtn" type="checkbox" id="num_31">
                </div>
            </div>
        </div>
        <div class="item item_32">
            <div class="red_num">32
                <div>
                    <input class="radioBtn" type="checkbox" id="num_32">
                </div>
            </div>
        </div>
        <div class="item item_33">
            <div class="black_num">33
                <div>
                    <input class="radioBtn" type="checkbox" id="num_33">
                </div>
            </div>
        </div>
        <div class="item item_34">
            <div class="red_num">34
                <div>
                    <input class="radioBtn" type="checkbox" id="num_34">
                </div>
            </div>
        </div>
        <div class="item item_35">
            <div class="black_num">35
                <div>
                    <input class="radioBtn" type="checkbox" id="num_35">
                </div>
            </div>
        </div>
        <div class="item item_36">
            <div class="red_num">36
                <div>
                    <input class="radioBtn" type="checkbox" id="num_36">
                </div>
            </div>
        </div>
        <div class="item item_1st-collumn">
            <div>
                <input class="radioBtn" type="checkbox" id="1st-collumn">
            </div>
            <span>2to1</span>
        </div>
        <div class="item item_2nd-collumn">
            <div>
                <input class="radioBtn" type="checkbox" id="2nd-collumn">
            </div>
            <span>2to1</span>
        </div>
        <div class="item item_3rd-collumn">
            <div>
                <input class="radioBtn" type="checkbox" id="3rd-collumn">
            </div>
            <span>2to1</span>
        </div>
    </div>

    <script src="../../models/multiCompleteModel.js" type="module"></script>
</body>

</html>