<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3eea134bf1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="trackStyles.css">
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <title>track</title>
</head>

<body>
    <!-- header -->
    <div class="flex_header">
        <div>
            <div class="btn">
                <input id="reset" type="button" value="Сброс" />
            </div>
            <div class="minmax">
                <!-- выбор минимума - максимума -->
                <div class="body__item_3 item">
                    <h1>Min/Max:</h1>
                </div>
                <div class="body__item_4 item">
                    <p><select id="minmax" size="1">
                            <option value="1-100">1-100</option>
                            <option value="5-200">5-200</option>
                            <option value="5-300">5-300</option>
                            <option value="25-500">25-500</option>
                        </select></p>
                </div>
            </div>
            <div class="btn">
                <input id="calculate" type="button" value="Рассчитать" />
            </div>
        </div>
        <div>
            <h1>track</h1>
        </div>
        <div class="btn">
            <form action="../menu/menuView.html">
                <button>Меню</button>
        </div>
    </div>
    <!-- обёртка трэка -->
    <div class="wrapper">
        <div class="track">
            <div class="circle_2 spl">
            </div>
            <!-- кружок "26" -->
            <div class="circle">
                <div class="line line_1"></div>
                <div class="line line_2"></div>
                <div class="line line_3"></div>
            </div>
            <div class="circle_2 tr"></div>
            <!-- кружок "8" -->
            <div class="circle">
                <div class="line line_4"></div>
                <div class="line line_5"></div>
                <div class="line line_6"></div>
                <div class="line line_7"></div>
            </div>
            <div class="circle_3 tier_small"></div>
            <div class="circle_3 spiel_small_1"></div>
            <div class="circle_3 spiel_small_2"></div>
            <!-- дублирующие блоки -->
            <div class="flex double_blocks_5-35">
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t black_num">35</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t red_num">12</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t black_num">28</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t red_num">7</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t black_num">29</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t red_num">18</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t black_num">22</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t red_num">9</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t black_num">31</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t red_num">14</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t black_num">20</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t red_num">1</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t black_num">33</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t red_num">16</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t black_num">24</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t red_num">5</h2>
                    </div>
                </div>
            </div>
            <div class="flex double_blocks_11-27">
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t red_num">27</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t black_num">13</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t red_num">36</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t black_num">11</h2>
                    </div>
                </div>
            </div>
            <div class="flex double_blocks_6-17">
                <div class="double-rectangle">
                    <div class="align-orphelins">
                        <h2 class="text d-t black_num">17</h2>
                    </div>
                </div>
                <div class="double-rectangle">
                    <div class="align-orphelins">
                        <h2 class="text d-t red_num">34</h2>
                    </div>
                </div>
                <div class="double-rectangle">
                    <div class="align-orphelins">
                        <h2 class="text d-t black_num">6</h2>
                    </div>
                </div>
            </div>
            <div class="flex double_blocks_25-32">
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t red_num">32</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t black_num">15</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t red_num">19</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t black_num">4</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t red_num">21</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t black_num">2</h2>
                    </div>
                </div>
                <div class="double-cube">
                    <div class="align">
                        <h2 class="text d-t red_num">25</h2>
                    </div>
                </div>
            </div>
            <!-- дублирующие номера по краям трека -->
            <div class="num_d_26">
                <div class="align">
                    <h2 class="text d-t black_num">26</h2>
                </div>
            </div>
            <div class="num_d_8">
                <div class="align">
                    <h2 class="text d-t black_num">8</h2>
                </div>
            </div>
            <div class="num_d_10">
                <div class="align">
                    <h2 class="text d-t black_num">10</h2>
                </div>
            </div>
            <div class="num_d_3">
                <div class="align">
                    <h2 class="text d-t red_num">3</h2>
                </div>
            </div>
            <div class="num_d_23">
                <div class="align">
                    <h2 class="text d-t red_num">23</h2>
                </div>
            </div>
            <div class="num_d_30">
                <div class="align">
                    <h2 class="text d-t red_num">30</h2>
                </div>
            </div>
            <div class="num_d_0">
                <div class="align">
                    <h2 class="text d-t green_num">0</h2>
                </div>
            </div>
            <!-- блоки с номерами -->
            <div class="flex numbers_5-35">
                <div class="cube">
                    <div class="align">
                        <h2 class="text black_num">35</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text red_num">12</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text black_num">28</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text red_num">7</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text black_num">29</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text red_num">18</h2>
                    </div>
                </div>
                <div class="cube border-left-off">
                    <div class="align">
                        <h2 class="text black_num">22</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text red_num">9</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text black_num">31</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text red_num">14</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text black_num">20</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text red_num">1</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text black_num">33</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text red_num">16</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text black_num">24</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text red_num">5</h2>
                    </div>
                </div>
            </div>
            <div class="flex numbers_11-27">
                <div class="cube">
                    <div class="align">
                        <h2 class="text red_num">27</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text black_num">13</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text red_num">36</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text black_num">11</h2>
                    </div>
                </div>
            </div>
            <div class="flex numbers_6-17">
                <div class="rectangle">
                    <div class="align-orphelins">
                        <h2 class="text black_num">17</h2>
                    </div>
                </div>
                <div class="rectangle">
                    <div class="align-orphelins">
                        <h2 class="text red_num">34</h2>
                    </div>
                </div>
                <div class="rectangle  border-left-off">
                    <div class="align-orphelins">
                        <h2 class="text black_num">6</h2>
                    </div>
                </div>
            </div>
            <div class="flex numbers_25-32">
                <div class="cube">
                    <div class="align">
                        <h2 class="text red_num">32</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text black_num">15</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text red_num">19</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text black_num">4</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text red_num">21</h2>
                    </div>
                </div>
                <div class="cube">
                    <div class="align">
                        <h2 class="text black_num">2</h2>
                    </div>
                </div>
                <div class="cube border-left-off">
                    <div class="align">
                        <h2 class="text red_num">25</h2>
                    </div>
                </div>
            </div>
            <!-- номера по краям трека -->
            <div class="num26">
                <div class="align">
                    <h2 class="text black_num">26</h2>
                </div>
            </div>
            <div class="num8">
                <div class="align">
                    <h2 class="text black_num">8</h2>
                </div>
            </div>
            <div class="num10">
                <div class="align">
                    <h2 class="text black_num">10</h2>
                </div>
            </div>
            <div class="num3">
                <div class="align">
                    <h2 class="text red_num">3</h2>
                </div>
            </div>
            <div class="num23">
                <div class="align">
                    <h2 class="text red_num">23</h2>
                </div>
            </div>
            <div class="num30">
                <div class="align">
                    <h2 class="text red_num">30</h2>
                </div>
            </div>
            <div class="num0">
                <div class="align">
                    <h2 class="text green_num">0</h2>
                </div>
            </div>
            <!-- перемычки между сериями -->
            <div class="line line_8"></div>
            <div class="line line_9"></div>
            <!-- серии -->
            <!-- tier -->
            <div class="series-tier">
                <h2 class="series-text tier-t">SERIES 5/8</h2>
            </div>
            <!-- orphelins -->
            <div class="series-orphelins">
                <h2 class="series-text orphelins-t">ORPHELINS</h2>
            </div>
            <!-- voisins -->
            <div class="series-voisins">
                <h2 class="series-text voisins-t">SERIES 0/2/3</h2>
            </div>
            <!-- spiel -->
            <div class="series-spiel">
                <h2 class="series-text spiel-t">0-SPIEL</h2>
            </div>
            <!-- позиции серий (кружочки) -->
            <div class="pos-tier bet"></div>
            <div class="pos-orphelins bet"></div>
            <div class="pos-voisins bet"></div>
            <div class="pos-spiel bet"></div>
            <!-- кликабельные позиции серий -->
            <div class="series-tier transparent pos" id="tier">tier</div>
            <div class="series-orphelins transparent pos" id="orphelins">orphelins</div>
            <div class="series-voisins transparent pos" id="voisins">voisins</div>
            <div class="series-spiel transparent pos" id="spiel">spiel</div>
            <!-- все позиции трека -->
            <div class="neighbor_0 bet pos" id="neighbor_0">сосед номера 0</div>
            <div class="neighbor_1 bet pos" id="neighbor_1">сосед номера 1</div>
            <div class="neighbor_2 bet pos" id="neighbor_2">сосед номера 2</div>
            <div class="neighbor_3 bet pos" id="neighbor_3">сосед номера 3</div>
            <div class="neighbor_4 bet pos" id="neighbor_4">сосед номера 4</div>
            <div class="neighbor_5 bet pos" id="neighbor_5">сосед номера 5</div>
            <div class="neighbor_6 bet pos" id="neighbor_6">сосед номера 6</div>
            <div class="neighbor_7 bet pos" id="neighbor_7">сосед номера 7</div>
            <div class="neighbor_8 bet pos" id="neighbor_8">сосед номера 8</div>
            <div class="neighbor_9 bet pos" id="neighbor_9">сосед номера 9</div>
            <div class="neighbor_10 bet pos" id="neighbor_10">сосед номера 10</div>
            <div class="neighbor_11 bet pos" id="neighbor_11">сосед номера 11</div>
            <div class="neighbor_12 bet pos" id="neighbor_12">сосед номера 12</div>
            <div class="neighbor_13 bet pos" id="neighbor_13">сосед номера 13</div>
            <div class="neighbor_14 bet pos" id="neighbor_14">сосед номера 14</div>
            <div class="neighbor_15 bet pos" id="neighbor_15">сосед номера 15</div>
            <div class="neighbor_16 bet pos" id="neighbor_16">сосед номера 16</div>
            <div class="neighbor_17 bet pos" id="neighbor_17">сосед номера 17</div>
            <div class="neighbor_18 bet pos" id="neighbor_18">сосед номера 18</div>
            <div class="neighbor_19 bet pos" id="neighbor_19">сосед номера 19</div>
            <div class="neighbor_20 bet pos" id="neighbor_20">сосед номера 20</div>
            <div class="neighbor_21 bet pos" id="neighbor_21">сосед номера 21</div>
            <div class="neighbor_22 bet pos" id="neighbor_22">сосед номера 22</div>
            <div class="neighbor_23 bet pos" id="neighbor_23">сосед номера 23</div>
            <div class="neighbor_24 bet pos" id="neighbor_24">сосед номера 24</div>
            <div class="neighbor_25 bet pos" id="neighbor_25">сосед номера 25</div>
            <div class="neighbor_26 bet pos" id="neighbor_26">сосед номера 26</div>
            <div class="neighbor_27 bet pos" id="neighbor_27">сосед номера 27</div>
            <div class="neighbor_28 bet pos" id="neighbor_28">сосед номера 28</div>
            <div class="neighbor_29 bet pos" id="neighbor_29">сосед номера 29</div>
            <div class="neighbor_30 bet pos" id="neighbor_30">сосед номера 30</div>
            <div class="neighbor_31 bet pos" id="neighbor_31">сосед номера 31</div>
            <div class="neighbor_32 bet pos" id="neighbor_32">сосед номера 32</div>
            <div class="neighbor_33 bet pos" id="neighbor_33">сосед номера 33</div>
            <div class="neighbor_34 bet pos" id="neighbor_34">сосед номера 34</div>
            <div class="neighbor_35 bet pos" id="neighbor_35">сосед номера 35</div>
            <div class="neighbor_36 bet pos" id="neighbor_36">сосед номера 36</div>
        </div>
    </div>

    <!-- инфо -->
    <div class="user_info" id="user_info">
    </div>


    <script src="../../models/trackModel.js" type="module"></script>
</body>

</html>